@model List<Color>;
    @if(TempData["success"]!=null){
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>*@
        <h2>@TempData["success"]</h2>
    }
@{
    Layout = "_LayoutAdmin";
}
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    </head>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Color List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Color" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Color
            </a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i> &nbsp; Back to site
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Color Name
                </th>
                <th>
                    HEX
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="40%">
                        @obj.color
                    </td>
                    <td width="40%">
                        @obj.hex
                    </td>
                    @*<td width="30%">
                        @obj.id
                    </td>*@
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Color" asp-action="Edit" asp-route-id="@obj.id"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Color" asp-action="Delete" asp-route-id="@obj.id"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

